@import "variables";

#container {
    background-color: $darkBlueBG;
}

.topContainer{
    background-color: $darkBlueTopBG;
}

aside{
    
    p {
        color: $desatBlueTxt;
    }

}


header{
    p{
        color: $desatBlueTxt;
    }
}

#ranksContainer{
    .rank{
        background-color: $darkDesatBlueCardBg;
        p span{
            color: white;
        }
        .handle,p:nth-of-type(2){
            color: $desatBlueTxt;
        }
        &:hover{
            background-color: $darkCardBgHover;
        }
    }
}
#statsContainer{
    .stat{
        background-color: $darkDesatBlueCardBg;
        .count{
            color:white;
        }
        h3{
            color: $desatBlueTxt;
        }
        &:hover {
            background-color: $darkCardBgHover;
        }
    }
}
h1,
h2 {
    color: white;
}

.attribution{
    background-color: $lightToggle;
}