@import "variables";

#container.light {
    background-color: $whiteBG;
}

.topContainer.light {

    background-color: $paleBlueTopBG;
    
    header {
        p {
            color: $darkGrayishBlueTxt;
        }
    }

    aside {
        p {
            color: $darkGrayishBlueTxt;
        }
    }
}






#container.light{
    #ranksContainer {
        .rank {
            background-color: $lightGrayishBlueCardBg;

            p span {
                color: black;
            }

            .handle,
            p:nth-of-type(2) {
                color: $darkGrayishBlueTxt;
            }
            &:hover{
                background-color: $lightCardBgHover;
            }
        }
    }

    #statsContainer {
        .stat {
            background-color: $lightGrayishBlueCardBg;

            .count {
                color: black;
            }

            h3 {
                color: $darkGrayishBlueTxt;
            }
            &:hover {
                background-color: $lightCardBgHover;
            }
        }
    }

    h1,
    h2 {
        color: black;
    }

    

}

.attribution.light {
    background-color: $lightCardBgHover;
}

