/* Dark Theme colors */
/* Light Theme colors */
/* Toggle button colors */
/* flex function */
/* reset default margin,padding of everything to zero and set border-box*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* set default body styles */
body {
  /*  line-height: 1.5; */
}

/* Dark Theme colors */
/* Light Theme colors */
/* Toggle button colors */
/* flex function */
#container.light {
  background-color: white;
}

.topContainer.light {
  background-color: #f5f7ff;
}

.topContainer.light header p {
  color: #8b97c6;
}

.topContainer.light aside p {
  color: #8b97c6;
}

#container.light #ranksContainer .rank {
  background-color: #f0f2fa;
}

#container.light #ranksContainer .rank p span {
  color: black;
}

#container.light #ranksContainer .rank .handle,
#container.light #ranksContainer .rank p:nth-of-type(2) {
  color: #8b97c6;
}

#container.light #ranksContainer .rank:hover {
  background-color: #E1E3F0;
}

#container.light #statsContainer .stat {
  background-color: #f0f2fa;
}

#container.light #statsContainer .stat .count {
  color: black;
}

#container.light #statsContainer .stat h3 {
  color: #8b97c6;
}

#container.light #statsContainer .stat:hover {
  background-color: #E1E3F0;
}

#container.light h1,
#container.light h2 {
  color: black;
}

.attribution.light {
  background-color: #E1E3F0;
}

/* Dark Theme colors */
/* Light Theme colors */
/* Toggle button colors */
/* flex function */
#container {
  background-color: #1e202a;
}

.topContainer {
  background-color: #1f212e;
}

aside p {
  color: #8b97c6;
}

header p {
  color: #8b97c6;
}

#ranksContainer .rank {
  background-color: #252a41;
}

#ranksContainer .rank p span {
  color: white;
}

#ranksContainer .rank .handle, #ranksContainer .rank p:nth-of-type(2) {
  color: #8b97c6;
}

#ranksContainer .rank:hover {
  background-color: #333A56;
}

#statsContainer .stat {
  background-color: #252a41;
}

#statsContainer .stat .count {
  color: white;
}

#statsContainer .stat h3 {
  color: #8b97c6;
}

#statsContainer .stat:hover {
  background-color: #333A56;
}

h1,
h2 {
  color: white;
}

.attribution {
  background-color: #aeb3cb;
}

/* Dark Theme colors */
/* Light Theme colors */
/* Toggle button colors */
/* flex function */
.toggleContainer input {
  width: 0;
  height: 0;
}

.slider {
  display: inline-block;
  width: 2.6rem;
  height: 1.3rem;
  border-radius: 10px;
  position: relative;
  background-color: #aeb3cb;
  cursor: pointer;
}

.slider::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #f5f7ff;
  position: absolute;
  top: 2.3px;
  right: 2px;
}

input[type=checkbox]:checked + .slider {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

input[type=checkbox]:checked + .slider::after {
  background: #1f212e;
  left: 2px;
}

input[type=checkbox]:hover + .slider {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

/* Dark Theme colors */
/* Light Theme colors */
/* Toggle button colors */
/* flex function */
.topContainer {
  border-radius: 0 0 15px 15px;
}

header {
  position: relative;
}

header::after {
  content: '';
  /* display: block; */
  background-color: #8b97c6;
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 0.8rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1vw;
}

aside p {
  margin-top: 3px;
}

#ranksContainer {
  /* @include flex(space-between); */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4.5vw;
}

#ranksContainer .rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 3vw;
  text-align: center;
}

#ranksContainer .rank p:nth-of-type(2) {
  margin: 0.4rem 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#ranksContainer .rank.facebook {
  border-top: 3px solid #198ff5;
}

#ranksContainer .rank.facebook .handle:before {
  content: url(/images/icon-facebook.svg);
  /* background: url(/images/icon-facebook.svg) no-repeat;
                        width: 2rem;
                        height: 2rem;
                        position: absolute; */
  position: absolute;
  -webkit-transform: translate(-1.7rem, -2px);
          transform: translate(-1.7rem, -2px);
}

#ranksContainer .rank.twitter {
  border-top: 3px solid #1ca0f2;
}

#ranksContainer .rank.twitter .handle:before {
  content: url(/images/icon-twitter.svg);
  /* background: url(/images/icon-facebook.svg) no-repeat;
                        width: 2rem;
                        height: 2rem;
                        position: absolute; */
  position: absolute;
  -webkit-transform: translate(-1.7rem, -2px);
          transform: translate(-1.7rem, -2px);
}

#ranksContainer .rank.insta {
  border-top: 3px solid;
  border-image-source: linear-gradient(90deg, #fdc468, #df4996);
  border-image-slice: 1;
  /* &::before {
                    content: "";
                    background: $insta no-repeat top left;
                    width: 100%;
                    height: 0.2rem;
                } */
}

#ranksContainer .rank.insta .handle:before {
  content: url(/images/icon-instagram.svg);
  /* background: url(/images/icon-facebook.svg) no-repeat;
                        width: 2rem;
                        height: 2rem;
                        position: absolute; */
  position: absolute;
  -webkit-transform: translate(-1.7rem, -2.5px);
          transform: translate(-1.7rem, -2.5px);
}

#ranksContainer .rank.yt {
  border-top: 3px solid #c4032a;
}

#ranksContainer .rank.yt .handle:before {
  content: url(/images/icon-youtube.svg);
  /* background: url(/images/icon-facebook.svg) no-repeat;
                        width: 2rem;
                        height: 2rem;
                        position: absolute; */
  position: absolute;
  -webkit-transform: translate(-1.7rem, -2.5px);
          transform: translate(-1.7rem, -2.5px);
}

#statsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4.5vw;
  margin-top: 1.5rem;
}

#statsContainer .stat {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "heading icon" "count percent";
}

#statsContainer .stat h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading;
}

#statsContainer .stat p.change {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: percent;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#statsContainer .stat p.count {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: count;
}

#statsContainer .stat.fbViews:before, #statsContainer .stat.fbLikes:before {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon;
  content: url(/images/icon-facebook.svg);
  -ms-grid-column-align: end;
      justify-self: end;
}

#statsContainer .stat.instaLikes:before, #statsContainer .stat.instaViews:before {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon;
  content: url(/images/icon-instagram.svg);
  -ms-grid-column-align: end;
      justify-self: end;
}

#statsContainer .stat.twRetweets:before, #statsContainer .stat.twLikes:before {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon;
  content: url(/images/icon-twitter.svg);
  -ms-grid-column-align: end;
      justify-self: end;
}

#statsContainer .stat.ytLikes:before, #statsContainer .stat.ytViews:before {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon;
  content: url(/images/icon-youtube.svg);
  -ms-grid-column-align: end;
      justify-self: end;
}

.change.down {
  color: #dc414c;
}

.change.up {
  color: #1db489;
}

.change.down::before {
  content: url(/images/icon-down.svg);
  -webkit-transform: translate(-0.7rem, -0.1rem);
          transform: translate(-0.7rem, -0.1rem);
  position: absolute;
}

.change.up::before {
  /* content: '';
        background: url(/images/icon-up.svg) no-repeat;
        position: absolute;
        width: 1rem;
        height: 1rem;
        transform: translate(-0.7rem,0.3rem); */
  content: url(/images/icon-up.svg);
  -webkit-transform: translate(-0.7rem, -0.2rem);
          transform: translate(-0.7rem, -0.2rem);
  position: absolute;
}

.stat,
.rank {
  border-radius: 3px;
}

.stat:hover,
.rank:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .topContainer {
    border-radius: 0;
  }
  header::after {
    content: none;
  }
  #ranksContainer,
  #statsContainer {
    gap: 2.3vw;
  }
}

* {
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

body {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .rank p span {
  font-size: 3rem;
}

main .count {
  font-size: 2rem;
}

header p,
aside p,
.rank .handle,
p:nth-of-type(2) span,
.change {
  font-weight: 700;
}

.topContainer {
  padding: 0 7vw;
}

main {
  padding: 0 7vw;
}

header {
  padding: 2rem 0 1rem;
}

aside {
  padding: 1rem 0 6rem;
}

@media (min-width: 600px) {
  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container .topContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 8vw 8rem;
  }
  header {
    padding: 0;
  }
  aside {
    padding: 0;
  }
  main {
    padding: 0 8vw;
  }
}
/*# sourceMappingURL=styles.css.map */