@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  line-height: 2.8rem;
}

h1 {
  font-size: 45px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5rem 5.5vw;
}

header .nav-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-links ul li {
  margin-left: 2.5em;
}

header .nav-links ul li a {
  text-decoration: none;
  color: #837d87;
  font-weight: bold;
  text-transform: uppercase;
}

header .nav-links ul li a:hover {
  color: #2d2640;
}

header .nav-links ul li .plans-btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid #2d2640;
  color: #2d2640;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

header .nav-links ul li .plans-btn:hover {
  background-color: #2d2640;
  color: white;
}

header button.hamburger {
  display: none;
}

.banner {
  background-color: #2d2640;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.banner .banner-img picture {
  position: relative;
  top: 4vw;
  right: 5.5vw;
}

.banner hr {
  position: absolute;
  top: 7.8rem;
  left: 5.5vw;
  width: 9vw;
}

.banner .banner-content {
  padding-left: 5.5vw;
  width: 35vw;
}

.banner .banner-content .plans-btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.banner .banner-content .plans-btn:hover {
  background-color: white;
  color: #2d2640;
}

.banner .banner-content p {
  margin: 0.7rem 0 3rem;
}

.banner .banner-content::before {
  content: '';
  background: url(/images/bg-pattern-intro-left-desktop.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 85%;
  width: 100%;
  height: 100%;
}

.banner .banner-content::after {
  content: '';
  background: url(/images/bg-pattern-intro-right-desktop.svg) no-repeat;
  position: absolute;
  right: 0;
  top: 10.5%;
  width: 25%;
  height: 100%;
}

.features {
  margin: 20rem 0 5rem;
  padding: 0 5vw;
}

.features h1 {
  margin-bottom: 3rem;
}

.features h1::before {
  display: block;
  content: "";
  position: relative;
  bottom: 2.3rem;
  width: 7%;
  height: 0;
  border: 1px solid rgba(131, 125, 135, 0.2);
}

.features .feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .feature-list .feature {
  width: 30%;
}

.more-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5.5vw 5rem;
  padding: 3rem;
  color: white;
  background: url(/images/bg-pattern-how-we-work-desktop.svg) no-repeat;
  background-color: #2d2640;
  background-position-x: right;
  background-size: auto 100%;
}

.more-work .plans-btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.more-work .plans-btn:hover {
  background-color: white;
  color: #2d2640;
}

.more-work h1 {
  font-size: 3.42vw;
  width: 27.5vw;
}

footer {
  padding: 3rem 5vw;
  background-color: #fafafa;
}

footer .footer-social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

footer hr {
  border: none;
  border-top: 1px solid rgba(131, 125, 135, 0.2);
}

footer .footer-links {
  margin-top: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  /* &::before{
            content: '';
            position: relative;
            border: 1px solid red;
            height: 0;
        } */
}

footer .footer-links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

footer .footer-links > ul ul {
  list-style: none;
}

footer .footer-links > ul ul li {
  margin-bottom: 0.5rem;
}

footer .footer-links > ul ul li a {
  text-decoration: none;
  color: #2d2640;
}

footer .footer-links > ul ul li a:hover {
  text-decoration: underline;
}

footer .footer-links .link-legend {
  color: #837d87;
  margin-bottom: 1.5rem;
}

.attribution {
  text-align: center;
  height: 6vh;
  color: #242942;
  background-color: rgba(36, 41, 66, 0.3);
  padding: 0.6em;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 1px;
}

.attribution a {
  text-decoration: none;
}

@media (max-width: 943px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1.2rem 5vw;
  }
  header .nav-links {
    display: none;
  }
  header .nav-links ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav-links ul li {
    margin: 1.3rem 0;
  }
  header .nav-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  header .nav-links ul li a:hover {
    color: #95a9c6;
  }
  header .nav-links ul li a:last-child {
    padding: 0.7rem 5.5rem;
  }
  header .nav-links ul li .plans-btn {
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  header .nav-links ul li .plans-btn:hover {
    background-color: white;
    color: #2d2640;
  }
  header .nav-links ul li:first-child {
    margin-top: 3rem;
  }
  header button.hamburger {
    display: inline-block;
    background: url(/images/icon-hamburger.svg) no-repeat;
    border: none;
    width: 2rem;
    height: 2rem;
  }
  header button.hamburger.active {
    background: url(/images/icon-close.svg);
  }
  header .active ~ .nav-links {
    display: inline-block;
    background-color: #2b272f;
    color: white;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
  }
  .banner {
    background-color: #2d2640;
    color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .banner-img picture {
    position: static;
  }
  .banner .banner-img picture img {
    width: 100vw;
  }
  .banner hr {
    display: none;
  }
  .banner .banner-content {
    padding: 10rem 1vw;
    width: 60vw;
  }
  .banner .banner-content .plans-btn {
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  .banner .banner-content .plans-btn:hover {
    background-color: white;
    color: #2d2640;
  }
  .banner .banner-content p {
    margin: 0.7rem 0 3rem;
  }
  .banner .banner-content::before {
    content: '';
    background: url(/images/bg-pattern-intro-left-desktop.svg) no-repeat;
    position: absolute;
    left: 0;
    top: 38%;
    width: 100vw;
    height: 100vh;
  }
  .banner .banner-content::after {
    content: '';
    background: url(/images/bg-pattern-intro-right-desktop.svg) no-repeat;
    position: absolute;
    right: 0;
    top: 160%;
    width: 40vw;
    height: 80vh;
  }
  .features {
    margin: 13rem 0 8rem;
    padding: 0 1.5rem;
    text-align: center;
  }
  .features h1 {
    margin-bottom: 3rem;
  }
  .features h1::before {
    display: block;
    content: "";
    position: relative;
    bottom: 2.3rem;
    left: 28%;
    right: 28%;
    width: 44%;
    height: 0;
    border: 1px solid rgba(131, 125, 135, 0.2);
  }
  .features .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .feature-list .feature {
    width: 60%;
    margin-bottom: 3rem;
  }
  .features .feature-list .feature h2 {
    margin: 1rem 0;
    line-height: 2rem;
  }
  .more-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 1.5rem 5rem;
    padding: 3rem;
    color: white;
    background: url(/images/bg-pattern-how-we-work-desktop.svg) no-repeat;
    background-color: #2d2640;
    background-position-x: right;
    background-size: auto 100%;
  }
  .more-work .plans-btn {
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  .more-work .plans-btn:hover {
    background-color: white;
    color: #2d2640;
  }
  .more-work h1 {
    font-size: 45px;
    width: 50vw;
  }
  footer {
    padding: 3rem 1.5rem;
    background-color: #fafafa;
  }
  footer .footer-social-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
  footer .footer-social-bar .footer-social {
    margin-top: 2rem;
  }
  footer .footer-social-bar .footer-social img {
    margin: 0 0.5rem;
  }
  footer hr {
    border: none;
    border-top: 1px solid rgba(131, 125, 135, 0.2);
  }
  footer .footer-links {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
    /* &::before{
                content: '';
                position: relative;
                border: 1px solid red;
                height: 0;
            } */
  }
  footer .footer-links > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
  }
  footer .footer-links > ul ul {
    list-style: none;
  }
  footer .footer-links > ul ul li {
    margin-bottom: 0.5rem;
  }
  footer .footer-links > ul ul li a {
    text-decoration: none;
    color: #2d2640;
  }
  footer .footer-links > ul ul li a:hover {
    text-decoration: underline;
  }
  footer .footer-links .link-legend {
    color: #837d87;
    margin-top: 2rem;
    margin-bottom: 1.1rem;
  }
  .attribution {
    text-align: center;
    height: 5vh;
    color: #242942;
    background-color: rgba(36, 41, 66, 0.3);
    padding: 0.4em;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  .attribution a {
    text-decoration: none;
  }
}
/*# sourceMappingURL=style.css.map */